# Настройки среды разработки
.vscode/
.idea/

# Python virtual environments
env/
venv/

# Compiled python files
*.py[cod]
*.so
*.egg-info/

# Django migrations
# migrations/

*.sqlite3

# Логи
*.logbeckend/db.sqlite3
